<h1>Utenti Trovati</h1><br><br>
<% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
		<% if user_signed_in? %>
			<% if current_user.email!=user.email %>
				<td><%= link_to 'Show', profile_path(user) %></td>
			<% end %>
			<% if current_user.email==user.email %>
				<td><%= link_to 'Show', my_profile_path %></td>
			<% end %>
		<% else %>
			<td> <%= link_to 'Show', profile_path(user) %> </td>
		<% end %>
     <br>
    </tr>
<% end %>
