<div class="question-card mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= @question.text %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <% color_number = 0 %>
    <% @question.valid_options.each do |valid_option| %>
      <%= link_to valid_option["text"],
                  "/search?next_question_id=#{valid_option["next_question_id"]}",
                  class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect #{Question::OPTION_COLORS[color_number]} mdl-color-text--white" %>
      <% color_number += 1 %>
    <% end %>
    <!-- <% if !@question.valid_options[0].nil? %>
      <%= link_to @question.valid_options[0]["text"],
                  "/search?next_question_id=#{@question.valid_options[0]["next_question_id"]}",
                  class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--orange mdl-color-text--white" %>
    <% end %>
    <% if !@question.valid_options[1].nil? %>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--green mdl-color-text--white"
        href="/search?next_question_id=<%= @question.valid_options[1]["next_question_id"] %>">
        <%= @question.valid_options[1]["text"] %>
      </a>
    <% end %>
    <% if !@question.valid_options[2].nil? %>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--cyan mdl-color-text--white"
        href="/search?next_question_id=<%= @question.valid_options[2]["next_question_id"] %>">
        <%= @question.valid_options[2]["text"] %>
      </a>
    <% end %>
    <% if !@question.valid_options[3].nil? %>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red mdl-color-text--white"
        href="/search?next_question_id=<%= @question.valid_options[3]["next_question_id"] %>">
        <%= @question.valid_options[3]["text"] %>
      </a>
    <% end %> -->
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Indietro
    </a>

    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
      href="/search?clear=true" style="float:right;">
      Ricomincia
    </a>
  </div>
</div>

<% if Rails.env.development? %>
  <%= debug params %>
  <% if !@question.nil? %>
    <%= debug @question.options %>
    <%= debug @question.valid_options %>
  <% end %>
  <% if !@search.nil? %>
    <%= debug @search.place_types_by_number %>
    <%= debug @search.places_by_type %>
  <% end %>
<% end %>
