<%= form_for(poi) do |f| %>
  <% if poi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poi.errors.count, "error") %> prohibited this poi from being saved:</h2>

      <ul>
      <% poi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :types %>
    <%= f.text_field :types %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.number_field :rate %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :map %>
    <%= f.text_field :map %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :review %>
    <%= f.text_area :review %>
  </div>

  <div class="field">
    <%= f.label :api %>
    <%= f.text_field :api %>
  </div>

  <div class="field">
    <%= f.label :apiId %>
    <%= f.text_field :apiId %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.text_field :long %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
