<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poi.name %>
</p>

<p>
  <strong>Types:</strong>
  <%= @poi.types %>
</p>

<p>
  <strong>Address:</strong>
  <%= @poi.address %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @poi.rate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @poi.price %>
</p>

<p>
  <strong>Map:</strong>
  <%= @poi.map %>
</p>

<p>
  <strong>Image:</strong>
  <%= @poi.image %>
</p>

<p>
  <strong>Review:</strong>
  <%= @poi.review %>
</p>

<p>
  <strong>Api:</strong>
  <%= @poi.api %>
</p>

<p>
  <strong>Apiid:</strong>
  <%= @poi.apiId %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @poi.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @poi.long %>
</p>

<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
