<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mdl-layout--large-screen-only">Nome Progetto</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right" style="margin-top:4px; margin-right:30px;">

        <div class="mdl-textfield__expandable-holder">
          <!-- <input class="mdl-textfield__input" type="text" name="sample"
                 id="find-user-text-field" placeholder="Trova un altro utente!"> -->
          <%= form_tag find_users_results_path, method: :get do %>
            <%= text_field_tag  :user,
                                params[:user],
                                class: "mdl-textfield__input",
                                placeholder: "Trova un altro utente!",
                                id: "find-user-text-field" %>
            <!-- <%= submit_tag "Search", name: nil %> -->
          <% end %>
        </div>
        <label class="mdl-button mdl-js-button mdl-button--icon" for="find-user-text-field">
          <i class="material-icons">search</i>
        </label>
      </div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to ("Home &nbsp;&nbsp;<i class='material-icons'>home</i>").html_safe,
                    root_path,
                    method: :get, class: "mdl-button mdl-js-button" %>
        <div style="width: 26px;"></div>
        <!-- <%= link_to 'trova utenti', find_users_path, class: "mdl-navigation__link" %> -->
        <% if !user_signed_in? %>

          <button id="signup-menu-button" class="mdl-button mdl-js-button">
            Nuovo utente? &nbsp;&nbsp;
            <i class="material-icons">person_add</i>
          </button>

          <ul class="profile-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="signup-menu-button">
            <li class="mdl-menu__item">
              <i class="material-icons">person_add</i>
              <%= link_to 'Registrati!', new_user_registration_path, method: :get, class: "mdl-navigation__link" %>
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">share</i>
              <%= link_to 'Entra con Facebook', user_facebook_omniauth_authorize_path, class: "mdl-navigation__link" %>
            </li>
          </ul>

          <div style="width: 26px;"></div>
          <%= link_to ("Entra &nbsp;&nbsp;<i class='material-icons'>exit_to_app</i>").html_safe,
                      new_user_session_path,
                      method: :get, class: "mdl-button mdl-js-button" %>
        <% elsif %>
          <button id="profile-menu-button" class="mdl-button mdl-js-button">
            <%= current_user.username %> &nbsp;&nbsp;
            <i class="material-icons">account_circle</i>
          </button>

          <ul class="profile-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="profile-menu-button">
            <li class="mdl-menu__item">
              <i class="material-icons">person</i>
              <%= link_to 'Visualizza Profilo', my_profile_path, method: :get, class: "mdl-navigation__link" %>
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">edit</i>
              <%= link_to 'Modifica Profilo', edit_user_registration_path, method: :get, class: "mdl-navigation__link" %>
            </li>
            <% if current_user.try(:admin?) %>
              <hr>
              <li class="mdl-menu__item">
                <i class="material-icons">supervisor_account</i>
                <%= link_to 'Area Admin',  new_admin_path, method: :get, class: "mdl-navigation__link" %>
              </li>
        		<% end %>
            <hr>
            <li class="mdl-menu__item">
              <i class="material-icons">exit_to_app</i>
              <%= link_to 'Esci', destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>
            </li>
          </ul>
        <% end %>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <% if !user_signed_in? %>
        <div class="drawer-item">
          <i class="material-icons">home</i>
          <%= link_to "Home", root_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <div class="drawer-item">
          <i class="material-icons">person</i>
          <%= link_to "Entra", new_user_session_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <div class="drawer-item">
          <i class="material-icons">person_add</i>
          <%= link_to "Registrati", new_user_registration_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <div class="drawer-item">
          <i class="material-icons">share</i>
          <%= link_to 'Entra con Facebook', user_facebook_omniauth_authorize_path, class: "mdl-navigation__link" %>
        </div>
      <% elsif %>
        <p class="drawer-welcome-message">Benvenuto <%= current_user.username %>!</p>
        <div class="drawer-item">
          <i class="material-icons">home</i>
          <%= link_to "Home", root_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <div class="drawer-item">
          <i class="material-icons">person</i>
          <%= link_to 'Il mio profilo', my_profile_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <div class="drawer-item">
          <i class="material-icons">edit</i>
          <%= link_to 'Modifica profilo', edit_user_registration_path, method: :get, class: "mdl-navigation__link" %>
        </div>
        <% if current_user.try(:admin?) %>
          <div class="drawer-item">
            <i class="material-icons">supervisor_account</i>
            <%= link_to 'Area admin', new_admin_path, method: :get, class: "mdl-navigation__link" %>
          </div>
        <% end %>
        <div class="drawer-item">
          <i class="material-icons">exit_to_app</i>
          <%= link_to 'Esci', destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>
        </div>
      <% end %>
      <hr>
      <div class="drawer-item">
        <i class="material-icons">fiber_new</i>
        <%= link_to "Recenti", "#", class: "mdl-navigation__link" %>
      </div>
      <div class="drawer-item">
        <i class="material-icons">favorite</i>
        <%= link_to "Popolari", "#", class: "mdl-navigation__link" %>
      </div>
      <div class="drawer-item">
        <i class="material-icons">near_me</i>
        <%= link_to "Nelle vicinanze", "#", class: "mdl-navigation__link" %>
      </div>
      <hr>
      <div class="drawer-item">
        <i class="material-icons">info</i>
        <%= link_to "Chi Siamo", "#", class: "mdl-navigation__link" %>
      </div>
      <div class="drawer-item">
        <i class="material-icons">email</i>
        <%= link_to "Contattaci", "#", class: "mdl-navigation__link" %>
      </div>
    </nav>
  </div>
  <main id="main-content" class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>
</div>
