<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Lab Project</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. Hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <% if !user_signed_in? %>
          <%= link_to "Registrati", new_user_registration_path, method: :get, class: "mdl-navigation__link" %>
          <%= link_to "Entra", new_user_session_path, method: :get, class: "mdl-navigation__link" %>
        <% elsif %>
          <button id="profile-menu-button" class="mdl-button mdl-js-button">
            <%= current_user.username %> &nbsp;&nbsp;
            <i class="material-icons">person_pin</i>
          </button>

          <ul class="profile-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="profile-menu-button">
            <li class="mdl-menu__item">
              <i class="material-icons">person</i>
              <%= link_to 'Visualizza Profilo', profile_path, method: :get, class: "mdl-navigation__link" %>
            </li>
            <li class="mdl-menu__item">
              <i class="material-icons">edit</i>
              <%= link_to 'Modifica Profilo', edit_user_registration_path, method: :get, class: "mdl-navigation__link" %>
            </li>
            <hr>
            <li class="mdl-menu__item">
              <i class="material-icons">exit_to_app</i>
              <%= link_to 'Esci', destroy_user_session_path, method: :delete, class: "mdl-navigation__link" %>
            </li>
          </ul>
        <% end %>

        <!--
        <% if !user_signed_in? %>
		[
		<%= link_to 'Sign up',  new_user_registration_path, :method => :get%>
		]
		<% end %>

        <% if !user_signed_in? %>
		[
		<%= link_to 'Login', new_user_session_path, :method => :get%>
		]
		<% end %>

		<% if user_signed_in? %>
		[
		<%= link_to 'Visualizza Profilo', profile_path, :method => :get%>
		]
		<% end %>

		<% if user_signed_in? %>
		[<%= link_to 'Modifica Profilo',
		edit_user_registration_path, :method => :get%>]
		<% end %>

		<% if user_signed_in? %>
		Logged in as <%= current_user.username %> [<%= link_to 'Logout',
		destroy_user_session_path, :method => :delete%>]
		<% end %>

  -->

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <%= link_to "Entra", "#", class: "mdl-navigation__link" %>
      <%= link_to "Registrati", "#", class: "mdl-navigation__link" %>
      <hr>
      <%= link_to "Recenti", "#", class: "mdl-navigation__link" %>
      <%= link_to "Popolari", "#", class: "mdl-navigation__link" %>
      <hr>
      <%= link_to "Chi Siamo", "#", class: "mdl-navigation__link" %>
      <%= link_to "Contattaci", "#", class: "mdl-navigation__link" %>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>
</div>
