<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Lab Project</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. Hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to "Registrati", "#", class: "mdl-navigation__link" %>
        <%= link_to "Entra", "#", class: "mdl-navigation__link" %>
        
          
        <% if !user_signed_in? %>
		[
		<%= link_to 'Sign up',  new_user_registration_path, :method => :get%>
		]
		<% end %>
        
        <% if !user_signed_in? %>
		[
		<%= link_to 'Login', new_user_session_path, :method => :get%>
		]
		<% end %>
		
		<% if user_signed_in? %>
		[
		<%= link_to 'Visualizza Profilo', profile_path, :method => :get%>
		]
		<% end %>
		
		<% if user_signed_in? %>
		[<%= link_to 'Modifica Profilo',
		edit_user_registration_path, :method => :get%>]
		<% end %>
		
		<% if user_signed_in? %>
		Logged in as <%= current_user.username %> [<%= link_to 'Logout',
		destroy_user_session_path, :method => :delete%>]
		<% end %>
		
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <%= link_to "Entra", "#", class: "mdl-navigation__link" %>
      <%= link_to "Registrati", "#", class: "mdl-navigation__link" %>
      <hr>
      <%= link_to "Recenti", "#", class: "mdl-navigation__link" %>
      <%= link_to "Popolari", "#", class: "mdl-navigation__link" %>
      <hr>
      <%= link_to "Chi Siamo", "#", class: "mdl-navigation__link" %>
      <%= link_to "Contattaci", "#", class: "mdl-navigation__link" %>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </main>
</div>
