<!DOCTYPE html>
<html>
  <head>
    <title>LabProject</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag     "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag     "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" %>
    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <% if current_page?(:controller => 'static_pages', :action => 'home') %>
      <%= render 'layouts/header_big' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
  </body>
</html>
